<form action="/productos/post" method="POST">
  <!-- Grid -->
  <div class="grid">
    <!-- Campo de Título -->
    <label for="title">Título</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Título"
      required
    />

    <!-- Campo de Precio -->
    <label for="price">Precio</label>
    <input
      type="text"
      id="price"
      name="price"
      placeholder="Precio"
      required
    />
      <label for="code">Code</label>
    <input
      type="text"
      id="code"
      name="code"
      placeholder="code"
      required
    />

    <!-- Campo de Stock -->
    <label for="stock">Stock</label>
    <input
      type="text"
      id="stock"
      name="stock"
      placeholder="Stock"
      required
    />

    <!-- Campo de Categoría -->
    <label for="category">Categoría</label>
    <input
      type="text"
      id="category"
      name="category"
      placeholder="Categoría"
      required
    />
  </div>

  <!-- Campo de Descripción -->
  <label for="description">Descripción</label>
  <input
    type="text"
    id="description"
    name="description"
    placeholder="descripción"
    required
  />

  <!-- Botón para enviar el formulario -->
  <button type="submit">Agregar</button>
</form>