<h1>Login</h1>

<form action="/api/productsCookies" method="post">
  <label for="fullname">Tu nombre completo</label>
  <input type="text" id="fullname" name="fullname" required />

  <button type="submit">Iniciar sesión</button></form>