<h1 class="title">Productos en tiempo real</h1>

<style>
  article header { font-size: 1.5em; font-weight: bold; } article p { margin:
  5px 0; } article p{ font-weight: bold; }
</style>

<form id="form-products">
  <input id="input-title" placeholder="Titulo" type="text" />
  <input id="input-description" placeholder="Descripcion" type="text" />
  <input id="input-thumbnail" placeholder="Foto" type="text" />
  <input id="input-code" placeholder="Codigo" type="text" />
  <input id="input-stock" placeholder="Stock" type="text" />
  <input class="button-input" type="submit" value="Enviar" />
</form>

<div class="productsContent" id="listProducts"></div>

<script src="/socket.io/socket.io.js"> </script>
<script src="../js/index.js"></script>