<article>
  <form action="/api/sessions/register" method="post">
    <header>iniciar sesion</header>
    <input type="text" name="first_name" placeholder="nombre" required />
    <input type="text" name="last_name" placeholder="apellido" required />
    <input type="number" name="age" placeholder="edad" required />
    <input type="email" name="email" placeholder="correo" required />
    <input type="password" name="password" placeholder="password" required />

    <footer>
      <input type="submit" value="Entrar" />
    </footer>
    <a href="/login">Quiero iniciar session</a>
  </form>
</article>